

.container{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    padding-left:0.5rem;
    padding-right:0.5rem;

}

@media (min-width: 320px){
    .container{
        max-width:320px;
    }
   
    .container-nav{
        max-width:85px;
    }

    .container-nav.title{
        font-size:2px;
    }
}

@media (min-width: 375px){
    .container{
        max-width:375px;
    }
}

@media (min-width: 425px){
    .container{
        max-width:425px;    
    }
}

@media (min-widht: 768px){
    .container{
        max-width:768px;
    }
}

@media (min-widht: 1024px){
    .container{
        max-width:1024px;
    }
}

@media (min-width: 1440px){
    .container{
        max-width:1280px;
    }
}

@media (min-width: 1536px){
    .container{
        max-width:1536px;
    }
}


body{
    display:flex;
}

nav{
    border-right:1px solid black;
}
