.container-nav.main{
    width:22%;
    margin-left:auto;
    margin-right:auto;
    border-right:1px solid black;
    position:fixed;
}

.container-nav{
    border-top:1px solid black;
    padding-top:20%;
    padding-bottom:10%;
    text-align:left;
}

.container-nav:firsr-child{
    border-top:0px;
    padding-top:0%;
    padding-bottom:0%;
}

a{
    text-decoration: none   ;
}
.container-article{
    width:67%;
    margin-left:auto;
    margin-right:auto;
    padding-left:0.5rem;
    padding-right:0.5rem;
    overflow:hidden;
    position:absolute;
    right:-4px;
}

code{
    display:block;
    background-color:antiquewhite;
    line-height:22px;
}

body{
    display:flex;
    margin:0;
}
